@using System.Threading.Tasks
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
<br />

<form asp-controller="Security" asp-action="Register" method="post" role="form" class="form-horizantal">
    <div class="form-group">

    </div>

</form>
